.custom-alert {
  background-color: #fff;
  color: #333;
  border-radius: 0px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  z-index: 1000;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  animation: fadeIn 0.3s;
  text-align: center;
  font-size: x-large;
  font-family: 'Wix Madefor Display', Helvetica, sans-serif;
}

.custom-alert button {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: x-large;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
}

.custom-alert button:hover {
  background-color: #191919;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      top: 10%;
  }

  to {
      opacity: 1;
      top: 20%;
  }
}
