.payment-logs-table-container {
    padding: 20px;
    max-width: 2500px;
    margin: 0 auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: 'Wix Madefor Display', Helvetica, sans-serif;
  }
  
  th, td {
    text-align: center;
    padding: 12px;
    border-bottom: 5px solid #eee;
  }
  
  th {
    background-color: #f9f9f9;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4a4a4a;
    color: white;
    border-radius: 0px;
    cursor: pointer;
    margin: 2px;
    font-size: large;
    font-family: 'Wix Madefor Display', Helvetica, sans-serif;
  }
  
  button:hover {
    background-color: #191919;
  }
  
  .pagination-controls {
    text-align: center;
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  