.cart-container, .cart-component {
    position: fixed;
    right: 20px;
    top: 180px;
    width: 25%;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    overflow-y: auto;
    z-index: 1000;
}

.cart-component h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border-bottom: 5px solid #eee;
    padding: 8px;
    text-align: center;
}

tfoot td {
    font-weight: bold;
}

/* Button styles */
.button-container, .cart-item-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {

    background-color: white;
    color: #4a4a4a;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0;
    font-size: x-large;
}

button:hover {
    background-color: #191919;
}

.minusButton {

    background-color: #4a4a4a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0;
    font-size: x-large;

}
